.addSeller .max_width {
    padding: 8rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.sellerContainer .logoContainer {
    display: flex;
}

.sellerContainer .logoContainer img {
    width: 2rem;
}

.logoContainer .logoText {
    font-size: 1.7rem;
}

.sellerContainer {
    width: 30rem;
}

.seller_heading {
    font-family: var(--Inter);
    font-style: normal;
    font-weight: 600;
    line-height: 163.52%;
    color: #000000;
    padding: 2rem 0;
    text-align: left;
    font-size: 2rem;
}

.seller_heading span {
    display: block;
    font-size: 4rem;
    line-height: 40px;
    font-family: var(--Poppins);
    font-weight: 300;
    color: #000000;
}

.sellerForm {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}
.sellerBtn {
    cursor: pointer;
    margin-top: 4rem;
    padding: 0.5rem 8rem;
    background: #1E3C72;
    font-family: var(--Inter);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 44px;
    color: #fff;
    letter-spacing: 0.1rem;
    border-radius: 10px;
}
