.navbar .max_width {
    padding: 1.5rem;
    width: 100%;
    background: #2F3338;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    margin-left: 1rem;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    text-transform: capitalize;
    color: #FFFFFF;

}

.showNft img {
    width: 30rem;
    border-radius: 20px;
}

.dashboard .max_width {
    padding: 0 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #1A1C1E;
    justify-content: space-around;
    box-shadow: 0px 4px 213px -106px rgba(255, 255, 255, 0.25);
}

.informationContainer {
    height: 50rem;
    background: linear-gradient(185.7deg, rgba(17, 39, 119, 0.8) -26.98%, rgba(23, 37, 85, 0.5875) 42.51%, rgba(206, 0, 255, 0.8) 128.93%, rgba(32, 56, 143, 0.270833) 161.15%, rgba(11, 14, 23, 0.166667) 180.13%, rgba(130, 24, 206, 0.570887) 190.54%, rgba(255, 255, 255, 0) 234.63%);
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid hsla(210, 1%, 64%, 1);
    width: 55rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 2rem;
}

.loginContainer, .serialNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Poppins);
}

.serialNumber {
    margin-right: 1rem;
    padding: 1rem 2rem;
    background: #ffffff;
    font-size: 1.2rem;
    color: #000;
    border-radius: 10px;

}

.infoSpan {
    font-family: var(--Inter);
    display: block;
    font-size: 1.8rem;
    color: hsla(210, 1%, 64%, 1);
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 3rem;
}

.div1 span {
    font-size: 1.6rem;
}

.info {
    font-size: 1.5rem;
    padding: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    border-left: 1px solid hsla(210, 1%, 64%, 1);
    display: flex;
    border-left: 1px solid hsla(210, 1%, 64%, 1);
    grid-area: 2 / 2 / 3 / 3;
    flex-direction: column;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3;
}

.div4 {
    grid-area: 3 / 1 / 4 / 2;
}

.div5 {
    border-left: 1px solid hsla(210, 1%, 64%, 1);
    grid-area: 3 / 2 / 4 / 3;
}

.div6 {
    grid-area: 4 / 1 / 5 / 2;
}

.div7 {
    border-left: 1px solid hsla(210, 1%, 64%, 1);

    grid-area: 4 / 2 / 5 / 3;
}

.main_heading {
    padding: 2rem;
    font-size: 3rem;
    font-family: var(--Inter);
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 55rem;
    margin-top: 3rem;
}

.transNFT, .enterName {
    font-size: 1.6rem;
    font-family: var(--Poppins);
    background: linear-gradient(98.49deg, #7759F3 -11.31%, #8E2AC3 76.26%);
    border-radius: 10px;
    color: #FFFFFF;
}

.transNFT {
    padding: 1rem 6rem;

}

.enterName {
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #000000;
}

.enterName input {
    color: #fff;
    width: 100%;
    background: none;
    padding: 1.5rem 2rem;
    border: none;

}
