.navbar .max_width {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 2rem;
    padding: 2rem;

}

.navbar .logo svg {
    width: 4rem;
}

.navbar .info {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.info svg {
    margin-left: 1rem;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}

.home .max_width {
    overflow: hidden;
    padding: 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.homeContainer {
    width: 50rem;
    margin-top: 10rem;
}

.main_heading {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.sub_heading {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: hsla(0, 0%, 100%, 1);
}

.sub_heading span {
    color: hsla(0, 62%, 58%, 1);
}

.ConnectMetaMask {
    margin-top: 10rem;
    padding: 2rem 6rem;
    display: inline-block;
    cursor: pointer;
    background: #C1C1C1;
    border-radius: 12px;
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.ConnectMetaMask svg {
    margin-left: 1rem;
}